# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
webapp/jsp
webapp/js
webapp/styles
webapp/WEB-INF
.classpath
.project
.tern-project
out
.settings
gen
